h1, h2, h3, h4, h5 { 
	font-weight: 700; text-transform: uppercase; margin: 0;

	small {
		text-transform: none;
	}
}
h1 a, h2 a, h3 a, h4 a, h5 a { text-decoration: none; color: #444; }

#content {

	h1 {
		font-size: 0.9em;
		margin-top: 2em;
	}
	
	h2 {
		font-size: 7em;
	}
	
	h2.dunno {
		font-size: 5em;
	}
	
	p {
		margin-top: 1em;
	}
}

footer {
	text-align: right;
	color: #eee;

	hr {
		border-top: 1px solid #eeeeee;
		border-bottom: 1px solid #ffffff;
		margin-bottom: 0;
	}

	p {
		margin-top: 0.2em;

		a {
			color: #ddd;
		}

		a:hover {
			color: #ccc;
		}
	}

	#location {
		display: none;
	}
}
